html, body, main {
    font-family: "DejaVu Sans";
    height: 100%;
}

body {
    background: #555555;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.block {
    min-width: 300px;
    min-height: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: #888888 -3px -3px 15px;

    transition: all 0.4s;
}

.block:hover {
    box-shadow: #888888 3px 3px 15px;
}

.wrapper {
    color: white;
    text-align: center;
}

#submit-button {
    margin-top: 30px;
    font-size: 25px
}

#color {
    margin-top: 30px
}